{# Affiche un menu sur 2 niveaux

Paramètres :
    - tree : Arbre d'éléments à afficher sous forme de menu (objet avec pour propriétés children et term)
    - current_term : Catégorie courante
    - current_term_ancestors : ID des catégories parentes de celle en cours
    - variables : Variables personnalisées
#}

{% block global %}
    <nav id="menu-main" class="navbar navbar-inverse">
        <div class="container">
            <div class="nav-collapse collapse navbar-inverse-collapse">

                {# Emplacement avant le menu #}
                {% block before_menu %}{% endblock %}

                {% block menu %}
                    {% if tree.children is not empty %}
                        <ul class="nav navbar-nav">

                            {% for tree_term in tree.children %}

                                {% set term = tree_term.term %}
                                {% set path = path('entity.taxonomy_term.canonical', {'taxonomy_term': term.tid}) %}

                                {# Classes css à ajouter au li #}
                                {% set css_classes = '' %}

                                {# Classe pour gérer le sous-menu #}
                                {% if tree_term.children is not empty %}
                                    {% set css_classes = 'dropdown' %}
                                {% endif %}

                                {# Classe pour surligner l'emplacement courant #}
                                {% if term.tid in current_term_ancestors %}
                                    {% set css_classes = css_classes ~ ' active' %}
                                {% endif %}

                                <li class="{{ css_classes }}">

                                    {# Si l'emplacement a des enfants #}
                                    {% if tree_term.children is not empty %}

                                        <a href="{{ path }}" id="menu-main-{{ term.tid }}" class="dropdown-toggle">
                                            {{ term.name }}
                                            <span class="caret"></span>
                                        </a>

                                    {% else %}

                                        <a href="{{ path }}" id="menu-main-{{ term.tid }}">
                                            {{ term.name }}
                                        </a>
                                    {% endif %}

                                    {# Sous-menu #}
                                    {% if tree_term.children is not empty %}

                                        <ul aria-labelledby="menu-main-{{ term.tid }}" class="dropdown-menu">

                                            {% for child_node in tree_term.children %}

                                                {% set child_term = child_node.term %}
                                                {% set child_path = path('entity.taxonomy_term.canonical', {'taxonomy_term': child_term.tid}) %}

                                                <li><a href="{{ child_path }}"
                                                       tabindex="-1">{{ child_term.name }}</a></li>

                                            {% endfor %}
                                        </ul>

                                    {% endif %}

                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock %}

                {# Emplacement après le menu #}
                {% block after_menu %}{% endblock %}
            </div>
        </div>
    </nav>
{% endblock %}