{# Template pour le bloc "dnb_navigation".

    Liste les catégories sur 2 niveaux.
    Ne s'affiche pas s'il n'y a pas de catégorie.

    Paramètres :
    - current_category  : Catégorie courante
    - tree              : Arbre des catégories à afficher
 #}
{% if tree is not empty %}

    <nav id="menu-left" class="panel panel-default">

        {# Niveau 1 #}
        <div class="panel-heading">
            <h1>
                <a href="{{ tree.term.path }}">{{ tree.term.name }}</a>
                <small>- {{ 'Navigation'|t }}</small>
            </h1>
        </div>

        {# Niveau 2 #}
        {% if tree.children is not empty %}
            <ul class="nav nav-list tree">

                {% for tree_lvl2 in tree.children %}

                    {% set category = tree_lvl2.term %}

                    {# Si la catégorie a des filles en rapport avec celle courante #}
                    {% if tree_lvl2.children is not empty and category.tid == current_category.tid %}

                        <li class="has-children {% if category.tid == current_category.tid %}active{% endif %}">
                            <label class="nav nav-header"><a href="{{ category.path }}">{{ category.name }}</a></label>

                            {# Niveau 3 #}
                            <ul class="nav nav-list tree">
                                {% for tree_lvl3 in tree_lvl2.children %}

                                    {% set subcategory = tree_lvl3.term %}

                                    <li {% if subcategory.tid == current_category.tid %}class="active"{% endif %}>
                                        <a href="{{ subcategory.path }}" tabindex="-1">{{ subcategory.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li {% if category.tid == current_category.tid %}class="active"{% endif %}>
                            <a href="{{ category.path }}">{{ category.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
{% endif %}