<nav id="menu-main" class="navbar navbar-inverse">
    <div class="container">
        <div class="nav-collapse collapse navbar-inverse-collapse">
            {% if items %}
                <ul class="nav navbar-nav">
                    {% for index, item in items %}
                        {%
                            set classes = [
                              item.in_active_trail ? 'active',
                              item.below is not empty ? 'dropdown',
                            ]
                        %}
                        {% set attributes = { 'class': 'dropdown-toggle' } %}
                        {% if item.below is not empty %}
                            {%
                                set attributes = {
                                'id': 'menu-main-' ~ index,
                                'class': 'dropdown-toggle'
                                }
                            %}
                        {% endif %}
                        <li{{ item.attributes.addClass(classes) }}>
                            {% if item.below is not empty %}
                                <a href="{{ item.url }}" id="menu-main-{{ index }}" class="dropdown-toggle">
                                    {{ item.title }}
                                    <span class="caret"></span>
                                </a>
                            {% else %}
                                <a href="{{ item.url }}" id="menu-main-{{ index }}">
                                    {{ item.title }}
                                </a>
                             {% endif %}

                            {% if item.below %}
                                <ul aria-labelledby="menu-main-{{ index }}" class="dropdown-menu">
                                    {% for item in item.below %}
                                        <li>
                                            {{ link(item.title, item.url, { 'tabindex': '-1' }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</nav>