{#
/**
 * Surcharge de page
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: En-tête de page
 * - page.mid_top: Milieu haut contient le bloc main
 * - page.mid_left: Milieu gauche
 * - page.mid_right: Milieu droite
 * - page.mid_bottom: Milieu bas
 * - page.footer: Pied de page
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{# En-tête #}
{% if page.header %}
    {{ page.header }}
{% endif %}

{# Contenu principal #}
<div role="main">
    {% if page.mid_top %}
        <section class="page-login">
            <div class="container">
                <header>
                    <h2>{{ "Oubli de mot de passe" | trans }}</h2>
                </header>

                <div class="form-container">
                {{ page.mid_top }}
                </div>
            </div>
        </section>
    {% endif %}

    {% if page.mid_left or page.mid_right %}
        <div class="premiereligne">
            <div class="container">

                {# Colonne gauche #}
                {% if page.mid_left %}
                    <div class="colGauche">
                        {{ page.mid_left }}
                    </div>
                {% endif %}

                {# Colonne droite #}
                {% if page.mid_right %}
                    <div class="colDroite">
                        {{ page.mid_right }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if page.mid_bottom %}
        {{ page.mid_bottom }}
    {% endif %}
</div>

{# Pied de page #}
{% if page.footer %}
    {{ page.footer }}
{% endif %}
