<div id="main-container" class="container">
    {# Haut de la page #}
    {% if page.top %}
        {{ page.top }}
    {% endif %}

    {# Contenu principal #}
	<div class="row">

        {# Milieu-gauche de la page #}
		<div id="col-left" class="col-lg-4">
            {% if page.mid_left %}
                {{ page.mid_left }}
            {% endif %}
		</div>

        {# Milieu-droit de la page #}
		<div id="col-main" class="col-lg-8">
            {% if page.mid_right %}
                {{ page.mid_right }}
            {% endif %}
		</div>
	</div>

	<hr />

    {# Bas de la page #}
	<footer class="footer">
		<div class="container">
			<p class="text-center">
                {{ 'Created by'|t }}
                <strong class="author">v.nivuahc</strong>
            </p>

            {% if page.bottom %}
                {{ page.bottom }}
            {% endif %}
		</div>
	</footer>
</div>
