{# Affichage d'un article en mode List

    Paramètres :
        - location : Infos sur le noeud courant
        - content  : Contenu affiché
 #}
<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" title="{{ 'Voir en détail'|trans }}">

    {{ content.edit_link }}

    {% if content.type_article == 'Astuce' %}
        <img src="{{ theme_path }}/images/icon/trick.png" height="16" width="16" alt="{{ content.type_article }}" />
    {% elseif content.type_article == 'Erreur' %}
        <img src="{{ theme_path }}/images/icon/error.png" height="16" width="16" alt="{{ content.type_article }}" />
    {% elseif content.type_article == 'Marque-page' %}
        <img src="{{ theme_path }}/images/icon/bookmark.png" height="16" width="16" alt="{{ content.type_article }}" />
    {% endif %}
    <a title="{{ "Lire l'article"|trans }}"
       href="{{ url('entity.node.canonical', {'node': node.id}) }}">
        {{ label }}
    </a>
</a>