{# Affichage d'un article en mode Full #}
<article
        class="{% block container_css_classes %}main-content unique class-article view-full panel panel-default{% endblock %}">

    {# Titre #}
    <header class="panel-heading">
        <h1>
            {{ content.edit_link }}

            {% if content.type_article == 'Astuce' %}
                <img src="{{ theme_path }}/images/icon/trick.png" alt="{{ content.type_article }}"
                     title="{{ content.type_article }}"/>
            {% elseif content.type_article == 'Erreur' %}
                <img src="{{ theme_path }}/images/icon/error.png" alt="{{ content.type_article }}"
                     title="{{ content.type_article }}"/>
            {% elseif content.type_article == 'Marque-page' %}
                <img src="{{ theme_path }}/images/icon/bookmark.png" alt="{{ content.type_article }}"
                     title="{{ content.type_article }}"/>
            {% endif %}

            {% block content_label %}
                {{ label }}
            {% endblock %}
        </h1>
    </header>

    {# Contenu #}
    <div class="content-body">

        {# Navigation #}
        {% if content.navigation is not empty %}
            <h2>{{ 'Navigation'|trans }}</h2>
            <ol>
                {% for id, label in content.navigation %}
                    <li>
                        {% if id == node.id %}
                            <strong>{{ label }}</strong>
                        {% else %}
                            <a href="{{ url('entity.node.canonical', {'node': id}) }}">{{ label }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}

        {# Corps #}
        {{ content.field_corps }}
    </div>

    <hr/>

    {# Infos complémentaires #}
    <aside>
        <div class="content-infos">

            {# Version #}
            {% block version %}
                {% if node.field_version is not empty %}
                    <p class="pull-right">
                        <span class="label label-info">{{ 'Version :'|trans }}</span>
                        {{ content.field_version }}
                    </p>
                    <div class="clearfix"></div>
                {% endif %}
            {% endblock %}

            {# Sources #}
            {% block sources %}
                {% if node.field_source is not empty %}
                    <p class="pull-right">
                        <span class="label label-info">
                            {% if node.field_source|length > 1 %}
                                {{ 'Sources :'|trans }}
                            {% else %}
                                {{ 'Source :'|trans }}
                            {% endif %}
                        </span>
                        {{ content.field_source }}
                    </p>
                    <div class="clearfix"></div>
                {% endif %}
            {% endblock %}

            {# Tags #}
            {% block tags %}
                {% if content.tags is not empty %}
                    <p class="tag-container pull-right">
                        <span class="label label-info">{{ 'Tags :'|trans }}</span>
                        {{ content.tags|raw }}
                    </p>
                    <div class="clearfix"></div>
                {% endif %}
            {% endblock %}

            {# Dates #}
            <p class="pull-right">
                <span class="label label-info">{{ 'Publié le :'|trans }}</span> {{ content.date_creation }}
                {% if content.date_modification != content.date_creation %}
                    <span class="label label-info">{{ 'Modifié le :'|trans }}</span> {{ content.date_modification }}
                {% endif %}
            </p>
            <div class="clearfix"></div>
        </div>

        {# Commentaires #}
        {% block comments %}

            <hr/>

            <section class="comments">

                <h2>{{ 'Commentaires'|trans }}</h2>

                {# Liste des commentaires et formulaire d'ajout de commentaire #}
                {{ content.comment }}
            </section>
        {% endblock %}
    </aside>
</article>