{%  extends 'node--article.html.twig' %}

{%  block container_css_classes %}class-article view-list panel panel-default{%  endblock %}

{%  block content_label %}
    <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" title="{{ 'Voir en détail'|trans }}">{{ label }}</a>
{% endblock %}

{%  block version %}{% endblock %}
{%  block sources %}{% endblock %}
{%  block tags %}{% endblock %}

{%  block comments %}{% endblock %}