/* -------------------------------------------------
  Affichage d'un contenu listant d'autres contenus
 ------------------------------------------------ */
.main-content > header h1 {
	margin: 0px 0px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

/* -------------------------------
  Affichage d'un contenu unique
 ------------------------------ */
.main-content.unique header h1 {
	margin: 0px;
	padding-bottom: 0px;
	border-bottom: 0px none;
}

/* ---------------------------------------
	Affichage d'un contenu en mode liste
 -------------------------------------- */
.view-list header h1,
.view-list header h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2em;
}
.list-contents .view-list {
	margin-top: 30px;
}

/* ---------------------------------------
	Affichage d'un contenu API Classe
 -------------------------------------- */
/* Menu de gauche affichant les méthodes de la classe */
#menu-left.class-api-class ul.method-list {
	margin-left: 0px;
}
#menu-left.class-api-class ul.method-list li {
	display: block;
	position: relative;
	padding: 5px 0px;
}
#menu-left.class-api-class ul.method-list li img {
	height: 16px;
	width: 16px;
	margin-right: 5px;
}
#menu-left.class-api-class ul.method-list li a {
	display: inline;
    font-size: 0.85em;
}
/* Contenu principal */
.class-api-class .tab-content-container.panel {
	border-top: 0px;
}
.class-api-class #method-list .toggle-code {
	margin-top: -10px;
}
.class-api-class #method-list .full-code {
	display: none;
}

/* ---------------------------------------
	Affichage d'un contenu Article
 -------------------------------------- */
.class-article .tag-container img {
	height: 16px;
    width: 16px;
    margin-right: 5px;
}

/* ---------------------------------------
	Affichage d'un contenu Paquet
 -------------------------------------- */
.class-package .tab-content-container.panel {
	border-top: 0px;
}

/* ------------------------------------
   Infos complémentaires d'un contenu
 ----------------------------------- */
 aside  .content-infos {
	min-height: 30px;
 }
 aside  .content-infos .pull-right {
	margin-left: 10px;
  text-align: right;
 }
 aside  .content-infos a {
	margin-left: 5px;
 }

/* ------------------------
   Liste de commentaires
 ------------------------ */
.comments h2 {
	margin-bottom: 20px;
	font-size: 32px;
}
.comments h3 {
	margin: 0px 0px 10px;
	font-size: 24px;
}
.list-comments {
	margin-top: 20px;
	padding: 0px;
}
.list-comments .indented {
	margin-left: 20px;
}
.list-comments .content-infos {
	margin: 0px;
	min-height: inherit;
}
.list-comments .content-infos p {
	margin: 0px;
}
.comments form {
    overflow: hidden;
}
.comments form h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.comments form .form-group {
    overflow: hidden;
    margin-top: 10px;
}
.comments form img {
    height: 16px;
    width: 16px;
}
.comment-item .links.inline li {
    margin: 5px;
}
.comment-item h3 {
	margin-top: 0px;
}
.comment-form .form-item {
	margin: 0px 0px 10px;
}
.comment-form .form-item label {
	margin-right: 10px;
}
.comment-confirm-form .form-actions,
.comment-form .form-actions {
	margin-top: 10px;
}

/* ---------------------------
		Plan du site
 -------------------------- */
.sitemap .content-body > ul > li {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 1.4em;
}
.sitemap .content-body > ul > li:first-child {
	margin-top: 0px;
}
.sitemap .content-body > ul > li li {
	margin-top: 10px;
	font-size: 0.8em;
}
.sitemap .content-body > ul > li > ul > li > a {
	color: #C15E5B;
}
.sitemap .content-body > ul > li li li {
	font-size: 14px;
}
.sitemap .content-body ul li li li li a {
	color: #000000;
}
.sitemap .content-body ul li li li li li a {
	color: #C15E5B;
}

/* ---------------------------
		Tags
 -------------------------- */
.tag-relatedcontents ul.list-contents {
	padding: 0px;
}
.tag-relatedcontents ul.list-contents li {
	margin: 5px 0px;
}

/* ---------------------------
		Captcha
 -------------------------- */
.captcha summary {
    font-weight: bold;
}
.captcha .form-item {
    margin-top: 10px;
}
.captcha .form-item label {
    margin-bottom: 10px;
}
