/* --------------------
  Polices
 ---------------------*/
@font-face {
    font-family: 'Gruppo';
    src: url('../fonts/gruppo.eot');
    src: url('../fonts/gruppo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gruppo.woff') format('woff'),
    url('../fonts/gruppo.ttf') format('truetype'),
    url('../fonts/gruppo.svg#Gruppo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shadows Into Light';
    src: url('../fonts/shadows_into_light.eot');
    src: url('../fonts/shadows_into_light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/shadows_into_light.woff') format('woff'),
    url('../fonts/shadows_into_light.ttf') format('truetype'),
    url('../fonts/shadows_into_light.svg#Shadows+Into+Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* --------------------
  Surcharges globales
 ---------------------*/
/* Titres */
h1, h2, h3 {
    font-family: 'Gruppo', cursive;
}

/* Libellés */
.label-info {
    background-color: #428BCA;
}

/* Pannels */
.panel-heading {
    font-size: 1.2em;
    font-family: 'Gruppo', cursive;
}

/* Wells */
.well.light {
    background-color: #FFFFFF;
}

/* Listes */
ul.no-style {
    padding-left: 25px;
}

ul.no-style > li {
    list-style: none;
}

ul.inline > li {
    display: inline;
}

li.col-lg-1,
li.col-lg-2,
li.col-lg-3,
li.col-lg-4,
li.col-lg-5,
li.col-lg-6,
li.col-lg-7,
li.col-lg-8,
li.col-lg-9,
li.ol-lg-10,
li.col-lg-11,
li.col-lg-12 {
    padding-left: 0;
}

dt {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-top: 20px;
    border-top: 1px solid #EEEEEE;
}

dl dt:first-child {
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px none;
}

/* Blocs de code */
code,
.geshifilter {
    border-radius: 4px;
}

li code,
p code {
    display: inline;
}

pre {
    border: 0px none;
}

/* Message et couleurs de succès */
.has-success .help-block,
.has-success .control-label {
    color: #62a720;
}

.has-success .form-control {
    border-color: #62a720;
}

/* Autres */
.clear {
    clear: both;
}

span.icon {
    vertical-align: middle;
}

.content-body img {
    max-width: calc(100% - 10px);
    margin: auto;
}

/* --------------------
	Bloc de code
 ---------------------*/
code {
    display: block;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    line-height: 1.42857;
    white-space: pre-wrap;
    word-break: normal;
}

pre, code {
    overflow: auto;
    margin: 10px 0px;
    white-space: pre;
    color: #606060;
}

/* --------------------
	Tableaux
 ---------------------*/
.content-body table {
    width: calc(100% - 1em);
    margin: 0.5em;
    border: 1px solid #cccccc;
}
.content-body table tr:nth-of-type(2n) {
    background-color: #f9f9f9;
}
.content-body table tr:hover {
    background-color: #f8f8f8;
}
.content-body table th,
.content-body table td {
    padding: 5px;
    border: 1px solid #cccccc;
}
.content-body table th {
    text-align: center;
    background-color: #f8f8f8;
}


/* --------------------
	AddThis
 ---------------------*/
.addthis-container {
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}

.addthis-container .addthis_default_style {
    position: absolute;
    top: 0;
    right: 0;
}

.addthis-container .addthis_default_style a {
    font-size: 0;
}

/* ------------------------
		Formulaires
 ----------------------- */
form .form-group .validation {
    display: none;
    padding-top: 5px;
}

form .form-group.has-error .validation,
form .form-group.has-success .validation {
    display: block;
}

form .form-group .validation img {
    height: 16px;
    width: 16px;
}

/* ------------------------
		Pager
 ----------------------- */
.pager li.is-active a {
    color: #000000;
    background-color : #f5f5f5;
}

/* ------------------------
		Messages
 ----------------------- */
.messages__wrapper {
    margin-top: 0px;
    padding-top: 0px;
}

.messages--info {
    padding-left: 20px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1 #bce8f1 #bce8f1 transparent;  /* LTR */
    background-image: none;
    box-shadow: -8px 0 0 #1b809e; /* LTR */
}
[dir="rtl"] .messages--info {
    border-color: #bce8f1 transparent #bce8f1 #bce8f1;
    box-shadow: 8px 0 0 #1b809e;
    margin-left: 0;
}