/* --------------------
	Conteneur Global
 ---------------------*/
body {
	background-color: #ADADAD;
}
#main-container {
	overflow: hidden;
	padding: 0 20px;
	background-color: #FFFFFF;
}


/* --------------------
		HEADER
 ---------------------*/
.main-header {
	margin-bottom: 20px;
}
.main-header .page-header {
	border-color: #ADADAD;
}
.main-header .page-header .title-container {
	padding-left: 40px;
}
.main-header h1 {
	font-size: 5em;
	font-family: 'Shadows Into Light', cursive;
}
.main-header .lead {
	font-size: 2em;
	font-family: 'Shadows Into Light', cursive;
}
.main-header .page-header a {
    color: #000000;
    text-decoration: none;
}

/* --------------------
	MENU PRINCIPAL
 ---------------------*/
 /* Menu principal */
ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
}
a.menu:after,
.dropdown-toggle:after {
    content: none;
}
.search-bar {
    margin-right: 30px;
}
.menu-search-bar > div {
    padding-right: 5px;
}
.menu-search-bar input[type=submit] {
    margin-top: 2px;
}
/* Bloc de connexion du menu, une fois connecté */
#menu-main .connection-part li.connected {
    padding: 5px;
    font-size: 0.9em;
    color: #FFFFFF;
}
#menu-main .connection-part li.connected a {
    padding: 0px 5px;
}
#menu-main .connection-part li.connected a:hover,
#menu-main .connection-part li.connected a:active,
#menu-main .connection-part li.connected a:hover {
    color: #428BCA;
}

/* --------------------
	COLONNE DE GAUCHE
 ---------------------*/

#col-left h1  {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
}
#col-left h1 small  {
	font-size: 1em;
	font-weight: normal;
}

/* Menu de gauche*/
#menu-left .has-children a {
	display: block;
	padding: 10px 15px;
	position: relative;
}
#menu-left .has-children ul {
	margin-left: 30px;
}
#menu-left .has-children li a {
	padding: 3px 15px;
}
#menu-left .has-children > label  {
	display: block;
	font-weight: normal;
}
#menu-left .has-children > ul > li a  {
	color: #428BCA;
}
#menu-left .has-children > ul > .active,
#menu-left .has-children > ul > .active a  {
	color: #C15E5B;
}
#menu-left .has-children > label > a:hover,
#menu-left .has-children > label > a:focus {
  background-color: #EEEEEE;
  text-decoration: none;
}
#menu-left li.active,
#menu-left li.active a  {
	display: block;
	position: relative;
	color: #C15E5B;
}

/* Cloud de rubriques */
#cloud-rubrique ul {
	padding: 0px;
}
#cloud-rubrique ul li a:hover {
    color: #000000;
}
#cloud-rubrique .size-0 a {
    color: #535548;
    font-size: 0.7em;
}
#cloud-rubrique .size-1 a {
    color: #535548;
    font-size: 0.9em;
}
#cloud-rubrique .size-2 a {
    font-size: 1.1em;
}
#cloud-rubrique .size-3 a {
    font-size: 1.3em;
}
#cloud-rubrique .size-4 a {
    color: #C15E5B;
    font-size: 1.5em;
}
#cloud-rubrique .size-5 a {
    color: #C15E5B;
    font-size: 1.7em;
}
