{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div class="main-content class-search view-full">
    {% block header %}
        <header class="panel">

            {# Titre #}
            {% block full_header_title %}
                <h1>
                    {{ 'Search'|trans }}
                </h1>
            {% endblock %}

            {# Formulaire de recherche #}
            {{ exposed }}
        </header>
    {% endblock %}

    {# Liste des résulats #}
    {% block full_content_list %}
        <section class="list-contents">

            {% if rows is empty %}
                {{ attach_library('classy/messages', 'bartik/messages') }}
                <div class="message-container">
                    <div class="container">
                        <div class="messages__wrapper layout-container">
                            <div role="contentinfo" aria-label="{{ 'Info message'|trans }}"
                                 class="messages messages--info">
                                <h2 class="visually-hidden">{{ 'Info message'|trans }}</h2>
                                {{ 'No results'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ attachment_before }}
            {{ rows }}
            {{ empty }}
            {{ pager }}

            {{ attachment_after }}
            {{ more }}
        </section>
    {% endblock %}
</div>