{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <nav id="breadcrumb">
        <ul class="breadcrumb">
            {% for item in breadcrumb %}
                {% if item.url is not empty or not loop.last %}
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="{{ item.url }}" itemprop="url">
                            <span itemprop="title">{{ item.text }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="active" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                       <span itemprop="title">{{ item.text }}</span>
                       <meta itemprop="url" content="{{ item.url }}">
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}
