<section{{ attributes }}>
    {% if comments%}
        {% if not label_hidden %}
            {{ title_prefix }}
            <h2{{ title_attributes }}>{{ label }}</h2>
            {{ title_suffix }}
        {% endif %}

        <div class="list-comments no-style">
            {{ comments }}
        </div>
    {% endif %}

    {% if comment_form %}
        <h2{{ content_attributes }}>{{ 'Add new comment'|trans }}</h2>
        {{ comment_form }}
    {% endif %}
</section>