{% extends "modules/custom/dnb_api/templates/taxonomy_menu.html.twig" %}
{# Affiche un menu sur 2 niveaux

Paramètres :
    - tree : Arbre d'éléments à afficher sous forme de menu (objet avec pour propriétés children et term)
    - current_term : Catégorie courante
    - current_term_ancestors : ID des catégories parentes de celle en cours
    - variables : Variables personnalisées
#}

{% block after_menu %}

    {# Barre de recherche #}
    <form action="{{ url('view.search_page.page_1') }}" name="" method="get" class="menu-search-bar navbar-form pull-left">
        <div class="col-lg-7">
            <input name="text" type="text" required="required" placeholder="{{ 'Rechercher'|trans }}"
                   class="form-control" value="{% if variables.search_text is not empty %}{{ variables.search_text }}{% endif %}" />
        </div>
        <input type="submit" value="Ok" class="btn btn-default">
    </form>

    {# Liens pour l'inscription et la (dé)connexion #}
    {% block connecion_part %}
        {% if variables.enable_user_menu %}
            <ul class="connection-part nav navbar-nav pull-right">
    
                {# Si l'utilisateur est connecté #}
                {% if not variables.is_anonymous %}
                    <li class="connected">
                        {{ 'Bonjour @username'|trans({ '@username': variables.user_name }) }}
                        <a href="{{ url( 'user.logout' ) }}">{{ 'Me déconnecter'|trans }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ url( 'user.login' ) }}">{{ 'Me connecter'|trans }}</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endblock %}
{% endblock %}