<header class="main-header">

    {# Bannière #}
    <div class="page-header">
        <div class="row">
            <div class="title-container col-lg-6">
                <h1><a href="{{ url('<front>') }}">Devnotebook</a></h1>
                <p class="lead">
                    <a href="{{ url('<front>') }}">
                        Developer's Blog
                    </a>
                </p>
            </div>
        </div>
    </div>

    {# Blocs (menu principal et fil d'Ariane) #}
    {% if content %}
        {{ content }}
    {% endif %}
</header>