{# Liste les catégories en les mettant en valeur en fonction du nombre d'articles associés.
    Ne s'affiche pas s'il n'y a pas de catégorie.

    Paramètres :
    - distribution : Distribution des articles par catégorie
 #}
{% if distribution is not empty %}

    <div id="cloud-rubrique" class="panel panel-default">

        <div class="panel-heading">
            <h1>{{ 'Rubriques'|trans }}</h1>
        </div>

        <ul class="inline">
            {% for item in distribution.items %}

                {% set title = 'Aucun'|trans %}
                {% if item.nb > 1 %}
                    {% set title = '@nb articles'|trans({'@nb': item.nb}) %}
                {% elseif item.nb == 1 %}
                    {% set title = '@nb article'|trans({'@nb': item.nb}) %}
                {% endif %}

                <li class="size-{{ item.weight < 4 ? item.weight : 5 }}">
                    <a href="{{ url('entity.taxonomy_term.canonical', {'taxonomy_term': item.term.id}) }}"
                       title="{{ title }}">
                        {{ item.term.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}