<div class="well {{ css_class }} comment-item">
    <div class="content-infos pull-right">

        {#
          Indicate the semantic relationship between parent and child comments for
          accessibility. The list is difficult to navigate in a screen reader
          without this information.
        #}
        {% if parent %}
            <p class="parent visually-hidden">{{ parent }}</p>
        {% endif %}

        <p>
            <span class="label label-info">{{ 'Date :'|trans }}</span>
            {{ date|date( 'd/m/Y' ) }}
        </p>
    </div>

    <h3>
        {% if title %}
            {{ title_prefix }}
            {{ title }}
            {{ title_suffix }}
        {% endif %}
        <small class="author">({{ author }})</small>
    </h3>

    {# Contenu #}
    <div class="content-body">
        {{ content }}
    </div>
</div>