{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 * - term.dnb_data: Variables personnalisées :
 *   - nb_articles : Nombre d'articles dans la catégorie
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div class="{% block container_css_class %}main-content class-category view-full{% endblock %}">
    {% block header %}
        <header class="panel">

            {# Titre #}
            {% block full_header_title %}
                <h1>
                    {{ name }}
                    <small>
                        (
                        {% if term.dnb_data.nb_articles > 1 %}
                            {{ '%nb Articles'|trans({'%nb': term.dnb_data.nb_articles}) }}
                        {% else %}
                            {{ '%nb Article'|trans({'%nb': term.dnb_data.nb_articles}) }}
                        {% endif %}
                        {% block show_list %}
                            -
                            <a title="{{ 'Afficher la liste sans le détail'|trans }}"
                               href="{{ url('entity.taxonomy_term.page_full', {'taxonomy_term': term.id}) }}">
                                {{ 'Voir la liste'|trans }}
                            </a>
                        {% endblock %}
                        )
                    </small>
                </h1>
            {% endblock %}

            {# Description #}
            {% if content.description is not empty %}
                {{ content.description }}
            {% endif %}
        </header>
    {% endblock %}

    {# Liste des articles #}
    {% block full_content_list %}
        <section class="list-contents">
            {{ content|without('description') }}
        </section>
    {% endblock %}
</div>