{% extends 'taxonomy-term--categorie.html.twig' %}

{% block container_css_class %}main-content class-category view-children-list{% endblock %}

{% block header %}
    <header>

        {# Titre #}
        {% block full_header_title %}
            {{ parent() }}
        {% endblock %}

        {# Description #}
        {% if content.description is not empty %}
            {{ content.description }}
        {% endif %}
    </header>
{% endblock %}

{% block show_list %}
    -
    <a title="{{ 'Afficher la liste avec le détail'|trans }}"
       href="{{ url('entity.taxonomy_term.canonical', {'taxonomy_term': term.id}) }}">
        {{ 'Voir la liste détaillée'|trans }}
    </a>
{% endblock %}